body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: darkgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #43809a;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  margin-top: -1px;
}

.App-link {
  color: #61dafb;
}

h1 {
  padding: 10px;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
  padding-right: 20px;
  color: aquamarine;
  font-size: .8em;
  text-align: left;
}

header {
  width: 100%;
}

main {
  min-height: 52vh;
  max-height: 82vh;
  height: auto;
  overflow: auto;
}

footer {
  background: peachpuff;
}

.todo-list {
  background: white;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
          0 1px 1px rgba(0,0,0,0.15),
          0 10px 0 -5px #eee,
          0 10px 1px -4px rgba(0,0,0,0.15),
          0 20px 0 -10px #eee,
          0 20px 1px -9px rgba(0,0,0,0.15);
  overflow: auto;
  height: auto;
  max-height: 86vh;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}

input[type=checkbox]:focus {
  outline: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  background: #58a3c3;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 60px;
}

footer .adder-input-text {
  border: none;
  background: transparent;
  font-size: 1.4em;
  color: #ffffff;
  outline: none;
  border-bottom: 1px solid #bac5ba;
}

footer .adder-input-submit {
  width: 60px;
  height: 60px;
  font-size: 1em;
  background: #9fd29f;
  color: white;
  border: none;
  outline: none;
  margin-left: 10px;
  font-weight: 600;
}

footer .adder-input-submit:hover {
  cursor: pointer;
}

::placeholder {
  font-style: italic;
  color: #d1d1d1;
}
